<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <%= link_to "案件編集", edit_project_path(@project) %> |
  <%= link_to "案件一覧", projects_path %>

  <%= button_to "削除", @project, method: :delete %>
</div>
